@import '../../styles/variables.scss';

.navLink {
	font-size: 14px;
	padding: 5px 10px;
	text-decoration: none;
	color: $black;
	transition: all .1s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}