$light-gray: #f9f9f9;
$white: #ffffff;
$black: #000;
$success: #0ee600;
$error: #f95151;
$input-focus: #b1d3f7;

:export {
	lightgray: $light-gray;
	white: $white;
	black: $black;
	success: $success;
	error: $error;
}